.species-cards {
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid var(--gray);
    border-radius: 30px;
    align-self: center;
    padding: 10px;
    background-color: #fff9f9;
}

.filters-btn {
    background: none;
    border: none;
    border-left: 1px solid var(--gray);
    cursor: pointer;
}

.filters-btn img {
    width: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.total-species {
    font-size: .8rem;
    text-align: right;
}

@media (min-width: 500px) {
    .species-cards {
        grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
        justify-content: center;
        position: relative;
        margin-top: 2rem;
    }

    .search-container {
        width: fit-content;
    }

    .total-species {
        position: absolute;
        right: 125px;
        top: -40px;
    }
}