.species-detail {
    text-align: left;
    display: grid;
    position: relative;
    align-items: center;
    padding: 1rem;
}

.species-img {
    border-radius: 15px;
    width: 100%;
    object-fit: cover;
}

.species-name {
    font-size: 1.5rem;
}

.scientific-name {
    font-size: .9rem;
    font-style: italic;
}

.btn {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    background: var(--offwhite);
    border: 1px solid var(--vibrant-fern);
    padding: 1rem;
    cursor: pointer;
}

.btn.back {
    top: 20px;
    left: 20px;
}

.btn.fav {
    top: 20px;
    right: 20px;
}

.btn>img {
    width: 18px;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 1rem;
}

.wire-info-container {
    border: 1px solid var(--vibrant-fern);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: fit-content;
}

.link-tips {
    color: var(--vibrant-fern);
    text-decoration: none;
}

.link-tips:hover {
    text-decoration: underline;
}


@media (min-width: 600px) {

    .species-img,
    .info-container {
        max-width: 500px;
        margin: auto;
    }

}

@media (min-width: 1024px) {
    .species-detail {
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 2rem;
    }

    .species-img {
        width: 500px;
        height: 500px;
    }
}