.wire-info-container {
    border: 1px dashed black;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

.species-detail {
    text-align: left;
}

@media (min-width: 1024px) {
    .species-detail {
        display: flex;
        gap: 1rem;
        width: 500px;
    }
}