.fav-species-cards {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.profile-subtitle {
    text-align: left;
}

.fav-card {
    width: 100px;
    cursor: pointer;
}

.fav-card>img {
    width: 100%;
    height: 100px;
    border-radius: 50%;
}

.guia-municipal {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 1024px) {
    .fav-card {
        width: 200px;
    }

    .fav-card>img {
        height: 200px;
    }
}