.card {
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;

    display: grid;
    grid-template-columns: 1fr 2fr;
}

.img-container {
    grid-column: 1;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-size: 12px;
}

.species-info {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    padding: .8rem;
}

.tags-container {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.tag {
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding: .3rem;
    font-size: .8rem;
    width: fit-content;
    text-transform: lowercase;
}

@media (min-width: 1024px) {
    .card {
        grid-template-columns: 1fr;
    }

    .img-container {
        width: 100%;
        height: 150px;
    }
}