.card {
    border-radius: 20px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 2px 2px 10px var(--gray);
    padding: 5px;
    background-color: #fff9f9;
}

.card:hover {
    box-shadow: 2px 2px 20px var(--vibrant-fern);
}

.img-container {
    grid-column: 1;
    padding: .5rem;
    width: 150px;
    height: 200px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-size: 12px;
    border-radius: 15px;
}

.species-info {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    justify-content: space-between;
    text-align: left;
}

.name-container-card {
    position: relative;
}

.name-container-card>h2 {
    font-size: 0.9rem;
}

.name-container-card>p {
    font-style: italic;
    font-size: .7rem;
}

.fav-btn-card {
    background: none;
    border: none;
    position: absolute;
    right: 5px;
    cursor: pointer;
}

.fav-btn-card img {
    width: 20px;
}

.tags-container {
    padding: 1rem 0;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.tag {
    border: 1px solid #9c9c9c;
    border-radius: 5px;
    padding: .2rem;
    font-size: .6rem;
    width: fit-content;
    text-transform: lowercase;
}

@media (min-width: 576px) {
    .card {
        grid-template-columns: 1fr;
    }

    .img-container {
        width: 100%;
        height: 250px;
    }

    .tag {
        font-size: .7rem;
    }

    .species-info {
        padding: 0 1rem;
    }
}