.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    top: auto;

    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 9999;

    background-color: white;
    box-shadow: 3px 0px 10px 1px var(--gray);
}

.navlink {
    text-decoration: none;
    opacity: 0.4;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--moss-green);
    gap: 5px;
}

.navlink>.icon {
    width: 20px;
}

.navlink>p {
    font-size: .7rem;
    text-transform: lowercase;
}

.active {
    opacity: 1;
}

@media (min-width: 1024px) {
    .navbar {
        position: relative;
        width: 200px;
        height: 100vh;
        flex-direction: column;
        justify-content: start;
        padding: 2rem 1rem;
        align-items: start;
    }

    .navlink {
        padding: .5rem;
    }

    .navlink>p {
        display: block;
        font-size: 1.2rem;
        text-transform: none;
    }

    .navlink>.icon {
        display: none;
    }

    .active {
        background-color: #dddddd;
        color: black;
        border-radius: 5px;
    }
}