/* reset */
* {
    margin: 0;
    top: 0;
    box-sizing: border-box;
}

/* cores */
:root {
    --moss-green: #4C6A3B;
    --lime-green: #B3D97E;
    --gray: #9E9E9E;
    --terracotta: #E07A5F
}

/* fontes */

html,
body,
#root {
    height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.app-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.app-content {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
    padding-bottom: 80px;
}

.species-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}