/* reset */
* {
    margin: 0;
    top: 0;
    box-sizing: border-box;
}

/* cores */
:root {
    --terracotta: #E07A5F;
    --dark-earth: #2A2421;
    --vibrant-fern: #4A7C59;
    --lime-leaf: #A1C181;
    --offwhite: #f7f5ea;
    --charcoal: #2C3E50;
    --gray: #a0a0a0;
}

/* fontes */

html,
body,
#root {
    height: 100%;
    overflow: hidden;
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--offwhite);
    color: var(--charcoal);
}

.app-container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 60px;
}

.app-content {
    flex: 1;
    overflow-y: auto;
}

.page-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    animation: fadeIn 0.3s ease;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

h1 {
    text-align: left;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 1024px) {
    .app-container {
        grid-template-columns: 200px 1fr;
    }

    .page-content {
        margin: 2rem;
    }
}